<div class="text-center">Inscriptions</div>

<div class="form-group">
  <label for="nom">Entrez votre nom</label>
  <input type="text" class="form-control" id="nom" placeholder="Dupont">
  <label for="nom">Entrez votre Prénom</label>
  <input type="text" class="form-control" id="prenom" placeholder="Antoine">
  <label for="nom">Entrez votre mail</label>
  <input type="text" class="form-control" id="mail">
  <label for="nom">Entrez votre mot de passe</label>
  <input type="password" class="form-control" id="motdepasse">
  <button class="offset-10 text-center bg-success col-2">Inscription</button>

</div>


