<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <link href="inscription.component.css" rel="stylesheet">
</head>

<body>
  <h3>Page de connexion</h3>

  <label for="username">Pseudo</label>
  <input type="text" placeholder="Pseudo" id="username" [(ngModel)]="this.username">

  <label for="password">Mot de passe</label>
  <input type="password" placeholder="Mot de passe" id="password" [(ngModel)]="this.password">
  <button class="bg-primary" routerLink="CreaCompt">S'inscrire</button>
  <button class="bg-primary" (click)="onLogin()">Se connecter</button>
  <button class="btn btn-dark" routerLink="lister-evt">Passer</button>
  <p style="color: #FF1493">{{TexteVide}}</p>
</body>
</html>
