<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <link href="app.component.css" rel="stylesheet">

</head>

<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
  <title>Accueil</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->
</head>
<body>

<form>
  <h3>Page de connexion</h3>

  <label for="username">Pseudo</label>
  <input type="text" placeholder="Pseudo" id="username">

  <label for="password">Mot de passe</label>
  <input type="password" placeholder="Mot de passe" id="password">


  <button>Se connecter</button>
  <button>S'inscrire</button>
    <button>SKIP</button>
</form>
</body>
</html>
<!-- partial -->

</body>
</html>

<div class="text-center">mettre des bouttons pour aller sur liste event ou inscription/ connexion pour l'admin</div>
<div><router-outlet></router-outlet></div>
<button routerLink="page-accueil">test</button>






