<p>statistiques-event works!</p>

<!--capable d'afficher la liste des personnes par évenement et pouvoir les supprimer-->
<!--nombre participants, liste participants et leurs détails,
éditer la liste des personnes -->
<table>
<thead>
<tr>
  <th class="col-2">Nom</th>
  <th class="col-4">lieu</th>
  <th class="col-4">date de cloture</th>
  <th class="col-6">Description</th>
  <th class="col-6">nombres max de personnes</th>
  <th>Choix</th>
</tr>
</thead>
<tbody>
<td>{{evenement.nom_event}}</td>
<td>{{evenement.lieu_event}}</td>
<td>{{evenement.date_cloture}}</td>
<td>{{evenement.description}}</td>
<td>{{evenement.nombre_max}}</td>
</tbody>
</table>

<div><table class="table table-striped">
  <thead>
  <tr>
    <th class="col-2">Prénom</th>
    <th class="col-4">mail</th>
    <th class="col-6">nombre d'évenements</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pers of this.listeParticipants; index as i">
    <td><a >{{pers.prenom}}</a></td>
    <td>{{pers.mail}}</td>
  </tr>
  </tbody>
</table></div>
