<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <link href="inscription-event.component.css" rel="stylesheet">

</head>
<body>

  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Inscription à un évènement</h3>


              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <div><input type="text" id="firstName" class="form-control form-control-lg" [(ngModel)]="personnes.prenom"></div>
                    <label class="form-label" for="firstName">Prénom</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" [(ngModel)]="personnes.nom">
                    <label class="form-label" for="lastName">Nom</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" id="emailAddress" class="form-control form-control-lg" [(ngModel)]="personnes.mail">
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="tel" id="phoneNumber" class="form-control form-control-lg" [(ngModel)]="personnes.telephone">
                    <label class="form-label" for="phoneNumber">Numéro de téléphone</label>
                  </div>

                </div>
              </div>
              <div class="btn-toolbar mb-8" role="toolbar" aria-label="Toolbar with button groups">
                <!--<input class="btn btn-primary btn-lg" type="submit" value="S'inscrire"/>
-->
                <button class="btn btn-primary btn-lg" (click)="ajouterPersonne()"  routerLink="../../lister-evt">S'inscrire</button>
                <button class="btn btn-primary btn-lg" type="button" value="Back" routerLink="../../evenement/:id"> Annuler</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
Test:
<pre>{{personnes | json}}</pre>
