<div>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-2">Acronyme</th>
    <th class="col-4">lieu</th>
    <th class="col-6">date de cloture</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let evt of this.liste; index as i">
    <td><a routerLink="../evenement/{{evt.id}}">{{evt.acronyme}}</a></td>
    <td>{{evt.lieu_event}}</td>
    <td>{{evt.date_cloture}}</td>
  </tr>
  </tbody>
</table>

  <button id="addEvent" routerLink="../add-event">Ajouter évenement (si admin) </button> <!-- si admin vérifier avec la BD-->
  <button id="stat" routerLink="../stats">stats (si admin) </button> <!-- si admin vérifier avec la BD-->
</div>



